@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            Total Views:
        </div>
        <span id="totalViewsCounter"></span>
    </div>
    <div class="row">
        <div class="col-3">
            Total Users Connected:
        </div>
        <span id="totalUsersCounter"></span>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>
